* @searlmc1 @emankov @kzhuravl @ranapratap55

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov @kzhuravl @ranapratap55
*.md @ROCm/rocm-documentation @searlmc1 @emankov @kzhuravl @ranapratap55
*.rst @ROCm/rocm-documentation @searlmc1 @emankov @kzhuravl @ranapratap55
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov @kzhuravl @ranapratap55
