.rocm-header {
    background-color: black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    max-width: 100%;
    min-height: 50px;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: left;
}

.rocm-header a {
    color: white;
    text-decoration: none;
}

.rocm-header-link p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.rocm-header img#amd-logo{
    filter: invert(100%);
    margin: 1.5em;
}

.rocm-header img#rocm-logo{
    margin: 0;
    max-height: 100%;
}

.rocm-header-buttons {
    display: inline-block;
    height: fit-content;
    max-width: 100%;
    width: fit-content;
    vertical-align: middle;
}

.rocm-header-link:first-child {
    margin-left: 4em;
}

.rocm-header-link {
    position: relative;
    display: inline-block;
    height: fit-content;
    text-align: center;
    vertical-align: middle;
}

.rocm-header-link.rocm-header-last {
    position: absolute;
    right: 4em;
    top: 50%;
    transform: translate(0, -50%);
    height: 100%;
}

.rocm-header-link .rocm-link-box, .rocm-header-link p {
    vertical-align: middle;
    color: white;
}

.rocm-header-link .rocm-link box {
    font-size: x-large;
}

.rocm-header-link p {
    font-size: medium;
}

.rocm-header-link img, .rocm-header-link .rocm-link-box {
    max-height: 50px;
    margin-left: 2em;
    margin-right: 2em;
}

.rocm-header-link .glow-wrap{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.rocm-header-link .glow{
    display: block;
    position:absolute;
    width: 20%;
    height: 100%;
    background: rgba(255,255,255,.2);
    top: 0;
    left: 0;
    transform-origin: right top;
    transform: translate(-100%, 0) skew(-45deg);
    filter: blur(2px);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.rocm-header-link:hover .glow{
    transform-origin: left bottom;
    transform: translate(1000%, 0) skew(-45deg);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
